﻿@model IEnumerable<MVCP.Models.Category>
    <div class="">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Category List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    Create New Category
                </a>
                
            </div>
        </div>

        <br /><br />

        @if (Model.Count() > 0)
        {
              <table class="table table-bordered table-striped" style="width:100%">
                  <thead>
                      <tr>
                          <th>
                              Category Name
                          </th>
                          <th>
                              Display Order
                          </th>
                          <th>

                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      @foreach(var obj in Model)
                      {
                        <tr>
                            <td width="50%">@obj.Name</td>
                            <td width="30%">@obj.DisplayOrder</td>
                            <td></td>
                        </tr>
                      }
                  </tbody>
              </table>
        }
        else
            {
                <p> No Category exists. </p>
            }
    </div>

<h1>Index</h1>

